* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(79, 79, 79);
}

h1 {
    color: aliceblue;
    font-size: 25px;
    font-family: monospace;


}


.container {
    background-color: rgb(51, 52, 52);
    border: 4px solid rgb(198, 198, 198);
    border-radius: 6px;
    height: 20rem;
    display: flex;
    padding: 15px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;

}

.button {
    margin: 5px;
    background-color: rgb(51, 52, 52);
    color: white;
    border: 1px solid white;
    height: 2.5rem;
    padding: 5px;
    width: 4rem;
    border-radius: 6px;


}

.button:hover {
    background-color: rgba(88, 88, 88, 0.511);
    cursor: pointer;
}

